 ### Import

In [2]:
import numpy as np

import pandas as pd

### 객체 생성

#### 시리즈

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8]) # dataframe 열

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

#### DataFrame

In [4]:
dates = pd.date_range("20230401", periods=6)

dates # period 수 만큼 생성

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102", ),
        
        # 인덱스 1,2,3,4
        # "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        
        # 인덱스 4,7,0,0
        # "C": pd.Series(23, index= np.array([4, 7, 0, 0]) , dtype="float32"),
        
        # 인덱스 5,4,3,2
        "C": pd.Series(23512, index=list(range(5,1, -1)) , dtype="float64"),
        
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2 
# c 에서 인덱스를 마음대로부여 가능 
# index는 중복도 가능하다

     A          B        C  D      E    F
5  1.0 2013-01-02  23512.0  3   test  foo
4  1.0 2013-01-02  23512.0  3  train  foo
3  1.0 2013-01-02  23512.0  3   test  foo
2  1.0 2013-01-02  23512.0  3  train  foo

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

### 데이터 조회

#### 정렬 조회 기본함수들

In [9]:
df3 = pd.read_csv('../data/일별평균대기오염도_2022.csv', encoding="euc-kr" )
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18250 entries, 0 to 18249
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   측정일시          18250 non-null  int64
 1   측정소명          18250 non-null  object
 2   이산화질소농도(ppm)  18172 non-null  float64
 3   오존농도(ppm)     18176 non-null  float64
 4   일산화탄소농도(ppm)  18174 non-null  float64
 5   아황산가스농도(ppm)  18176 non-null  float64
 6   미세먼지농도(㎍/㎥)   18115 non-null  float64
 7   초미세먼지농도(㎍/㎥)  18122 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.1+ MB

In [10]:
# 갯수확인
df3.count()

측정일시            18250
측정소명            18250
이산화질소농도(ppm)    18172
오존농도(ppm)       18176
일산화탄소농도(ppm)    18174
아황산가스농도(ppm)    18176
미세먼지농도(㎍/㎥)     18115
초미세먼지농도(㎍/㎥)    18122
dtype: int64

In [12]:
df3.head(3)
# df3.tail(2)

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,20220101,강남구,0.029,0.014,0.5,0.003,25.0,12.0
1,20220101,홍릉로,0.038,0.009,0.6,0.004,27.0,16.0
2,20220101,행주,0.034,0.012,0.7,0.004,27.0,16.0

In [14]:
# df3.index
df3.columns

Index(['측정일시', '측정소명', '이산화질소농도(ppm)', '오존농도(ppm)', '일산화탄소농도(ppm)',
       '아황산가스농도(ppm)', '미세먼지농도(㎍/㎥)', '초미세먼지농도(㎍/㎥)'],
      dtype='object')

In [29]:
df3.to_numpy()
# NumPy 배열은 하나의 dtype을 갖는 반면 pandas DataFrames는 열당 하나의 dtype을 갖습니다
# DataFrame.to_numpy()출력에 인덱스 또는 열 레이블을 포함 하지 않습니다 .

array([[20220101, '강남구', 0.029, ..., 0.003, 25.0, 12.0],
       [20220101, '홍릉로', 0.038, ..., 0.004, 27.0, 16.0],
       [20220101, '행주', 0.034, ..., 0.004, 27.0, 16.0],
       ...,
       [20221231, '관악산', 0.008, ..., 0.005, 29.0, 18.0],
       [20221231, '관악구', 0.045, ..., 0.003, 42.0, 28.0],
       [20221231, '공항대로', 0.042, ..., 0.004, 41.0, 31.0]], dtype=object)

In [35]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 23512.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 23512.0, 3, 'train',
        'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 23512.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 23512.0, 3, 'train',
        'foo']], dtype=object)

In [102]:
## 통계확인
df3.describe()

,측정일시,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
count,1.825000e+04,18172.000000,18176.000000,18174.000000,18176.000000,18115.000000,18122.000000
mean,2.022067e+07,0.022944,0.028361,0.473071,0.002955,33.758046,18.210683
std,3.450113e+02,0.011936,0.014085,0.187248,0.000800,20.603068,12.185512
min,2.022010e+07,0.000000,0.001000,0.100000,0.001000,3.000000,1.000000
25%,2.022040e+07,0.013000,0.018000,0.300000,0.002000,21.000000,10.000000
50%,2.022070e+07,0.021000,0.027000,0.400000,0.003000,30.000000,16.000000
75%,2.022100e+07,0.031000,0.037000,0.600000,0.003000,41.000000,23.000000
max,2.022123e+07,0.073000,0.179000,1.700000,0.009000,404.000000,105.000000

In [60]:
df3.sort_index(axis=1, ascending=False) # 축 기준 정렬
# axis=0 과 차이를 모르겠음 잘 이해가 안됨

,측정일시,측정소명,초미세먼지농도(㎍/㎥),일산화탄소농도(ppm),이산화질소농도(ppm),오존농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥)
0,20220101,강남구,12.0,0.5,0.029,0.014,0.003,25.0
1,20220101,홍릉로,16.0,0.6,0.038,0.009,0.004,27.0
2,20220101,행주,16.0,0.7,0.034,0.012,0.004,27.0
3,20220101,항동,14.0,0.5,0.030,0.011,0.003,27.0
4,20220101,한강대로,14.0,0.6,0.037,0.011,0.003,34.0
...,...,...,...,...,...,...,...,...
18245,20221231,구로구,29.0,0.5,0.037,0.009,0.004,43.0
18246,20221231,광진구,34.0,0.8,0.026,0.005,0.003,44.0
18247,20221231,관악산,18.0,0.3,0.008,0.038,0.005,29.0
18248,20221231,관악구,28.0,0.7,0.045,0.009,0.003,42.0
18249,20221231,공항대로,31.0,0.7,0.042,0.007,0.004,41.0

In [65]:
df3.sort_values(by="측정소명") # 값 별로 정렬

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
0,20220101,강남구,0.029,0.014,0.5,0.003,25.0,12.0
16176,20221120,강남구,0.027,0.025,0.4,0.003,29.0,17.0
9474,20220709,강남구,0.018,0.046,0.4,0.003,25.0,17.0
5799,20220426,강남구,0.015,0.046,0.3,0.003,42.0,20.0
13876,20221005,강남구,0.017,0.022,0.3,0.003,19.0,9.0
...,...,...,...,...,...,...,...,...
14601,20221020,화랑로,0.042,0.013,0.6,0.003,32.0,15.0
17601,20221219,화랑로,0.043,0.006,0.6,0.003,25.0,13.0
51,20220102,화랑로,0.036,0.013,0.6,0.003,31.0,22.0
7651,20220603,화랑로,0.037,0.056,0.5,0.003,36.0,23.0
15151,20221031,화랑로,0.039,0.011,0.5,0.003,26.0,13.0

In [75]:
# df3.loc[0]
df3.loc[18249] # 행 가져오기

측정일시            20221231
측정소명                공항대로
이산화질소농도(ppm)       0.042
오존농도(ppm)          0.007
일산화탄소농도(ppm)         0.7
아황산가스농도(ppm)       0.004
미세먼지농도(㎍/㎥)         41.0
초미세먼지농도(㎍/㎥)        31.0
Name: 18249, dtype: object

In [101]:
df3.loc[3: 15, ['측정일시' ,'측정소명', '오존농도(ppm)']]  # 다중 축 선택

        측정일시    측정소명  오존농도(ppm)
3   20220101      항동      0.011
4   20220101    한강대로      0.011
5   20220101    청계천로      0.011
6   20220101    천호대로      0.009
7   20220101     중랑구      0.017
8   20220101      중구      0.015
9   20220101     종로구      0.012
10  20220101      종로      0.010
11  20220101     정릉로      0.007
12  20220101  자연사박물관      0.016
13  20220101     은평구      0.016
14  20220101     용산구      0.011
15  20220101   올림픽공원      0.018

In [100]:
df3.iloc[3:15,[0,1,3]] # 3:15 => 15번 index 무시
# df3.iloc[0]
# df3.iloc[18249]

        측정일시    측정소명  오존농도(ppm)
3   20220101      항동      0.011
4   20220101    한강대로      0.011
5   20220101    청계천로      0.011
6   20220101    천호대로      0.009
7   20220101     중랑구      0.017
8   20220101      중구      0.015
9   20220101     종로구      0.012
10  20220101      종로      0.010
11  20220101     정릉로      0.007
12  20220101  자연사박물관      0.016
13  20220101     은평구      0.016
14  20220101     용산구      0.011

In [111]:
df3[['오존농도(ppm)','미세먼지농도(㎍/㎥)' ]].mean()

오존농도(ppm)       0.028361
미세먼지농도(㎍/㎥)    33.758046
dtype: float64

In [178]:
df3.groupby('측정소명').count()
# df3

,측정일시,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
측정소명,,,,,,,
강남구,365,365,365,365,365,365,365
강남대로,365,365,365,365,365,365,365
강동구,365,365,365,365,365,365,365
강변북로,365,365,365,365,365,361,365
강북구,365,365,365,365,365,365,365
강서구,365,365,365,365,365,365,365
공항대로,365,365,365,365,365,365,365
관악구,365,363,363,363,363,363,363
관악산,365,362,365,365,365,355,365
광진구,365,365,365,365,365,365,365
구로구,365,365,365,365,365,365,365
금천구,365,365,365,365,365,365,365
남산,365,365,365,365,365,322,323
노원구,365,365,365,365,365,365,365
도봉구,365,365,365,365,365,365,365
도산대로,365,365,365,365,365,365,363
동대문구,365,342,342,342,342,342,341
동작구,365,365,365,365,365,364,365
동작대로,365,364,364,364,364,363,364
마포구,365,365,365,365,365,365,365
마포아트센터,365,365,365,365,365,361,361
북한산,365,355,354,355,355,355,355
서대문구,365,363,364,364,364,364,364
서울숲,365,365,365,365,365,365,365
서초구,365,365,365,365,365,365,362
성동구,365,365,365,365,365,365,365
성북구,365,365,365,365,365,365,363
세곡,365,365,365,365,365,365,363
송파구,365,363,364,364,364,364,364
시흥대로,365,354,354,354,354,354,354
신촌로,365,365,365,365,365,365,365
양천구,365,365,365,365,365,365,365
영등포구,365,365,365,365,365,365,365
영등포로,365,365,365,365,365,365,365
올림픽공원,365,365,365,365,364,365,365
용산구,365,365,365,365,365,365,365
은평구,365,365,365,364,365,365,365
자연사박물관,365,365,365,365,365,365,365
정릉로,365,365,365,365,365,365,365
종로,365,365,365,365,365,365,365
종로구,365,365,365,365,365,365,365
중구,365,365,365,365,365,365,365
중랑구,365,365,365,365,365,365,365
천호대로,365,365,365,365,365,365,365
청계천로,365,365,365,365,365,365,365
한강대로,365,353,353,353,353,353,353
항동,365,356,356,356,356,356,356
행주,365,362,362,360,362,363,363
홍릉로,365,365,365,365,365,365,365
화랑로,365,365,365,365,365,365,365

In [139]:
# 특정 조건 검색
df3[df3['측정소명']== '관악구']

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
43,20220101,관악구,0.037,0.011,0.6,0.003,24.0,13.0
92,20220102,관악구,0.034,0.013,0.6,0.003,31.0,22.0
142,20220103,관악구,0.040,0.009,0.6,0.003,23.0,13.0
195,20220104,관악구,0.026,0.018,0.5,0.003,30.0,18.0
243,20220105,관악구,0.048,0.005,0.8,0.004,40.0,27.0
...,...,...,...,...,...,...,...,...
18042,20221227,관악구,0.054,0.008,0.9,0.003,48.0,31.0
18094,20221228,관악구,0.030,0.016,0.6,0.003,36.0,20.0
18142,20221229,관악구,0.037,0.011,0.6,0.004,33.0,18.0
18192,20221230,관악구,0.035,0.014,0.6,0.003,41.0,27.0
18248,20221231,관악구,0.045,0.009,0.7,0.003,42.0,28.0

#### 새 컬럼 추가 fillna

In [182]:
# df3[df3['아황산가스농도(ppm)'].isna()].count()
df3[df3['아황산가스농도(ppm)'].isna()]

# df3['이산화질소농도(ppm)'].count()
# df3['측정일시'].isna()


## 처음에 이렇게 했는데
## 이건 df 랑 np.NaN 이랑 비교하는거라 비교 자체가 안됨
# df3[df3['아황산가스농도(ppm)']== np.NaN]

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
3754,20220317,항동,NaN,NaN,NaN,NaN,NaN,NaN
3804,20220318,항동,NaN,NaN,NaN,NaN,NaN,NaN
3854,20220319,항동,NaN,NaN,NaN,NaN,NaN,NaN
3904,20220320,항동,NaN,NaN,NaN,NaN,NaN,NaN
4154,20220325,항동,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
14703,20221022,행주,NaN,NaN,NaN,NaN,NaN,NaN
14753,20221023,행주,NaN,NaN,NaN,NaN,NaN,NaN
15794,20221112,관악구,NaN,NaN,NaN,NaN,NaN,NaN
15842,20221113,관악구,NaN,NaN,NaN,NaN,NaN,NaN
16503,20221127,행주,NaN,NaN,NaN,NaN,24.0,10.0

In [144]:
# 결측치 확인
# df3.isna() # => 이렇게 잘 안씀

# df3[df3.isna().all(axis=1)] # 모든 행이 결측일 경우 검색
df3[df3.isna().any(axis=1)] # 하나라도 결측이 예상될 경우 검색

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥)
287,20220106,남산,0.033,0.015,0.7,0.004,NaN,NaN
339,20220107,남산,0.039,0.016,0.8,0.005,NaN,NaN
387,20220108,남산,0.048,0.011,0.8,0.004,NaN,NaN
437,20220109,남산,0.027,0.024,1.0,0.003,NaN,NaN
490,20220110,남산,0.049,0.012,1.0,0.003,NaN,NaN
...,...,...,...,...,...,...,...,...
15841,20221113,관악산,0.010,0.022,0.3,0.003,NaN,7.0
15842,20221113,관악구,NaN,NaN,NaN,NaN,NaN,NaN
16503,20221127,행주,NaN,NaN,NaN,NaN,24.0,10.0
16591,20221128,관악산,0.008,0.040,0.2,0.003,NaN,9.0
17041,20221207,관악산,0.010,0.034,0.3,0.004,NaN,12.0

In [23]:
# df3_prac = df3.reindex(index = list(df3.index), columns=list(df3.columns) + ["관악"])
# df3_prac.loc[df3['측정소명']== '관악구'] = 1
# df3_prac

## 컬럼 추가 // 관악구 인지 아닌지
df3_prac1 = df3.copy()
df3_prac1["관악"] = np.NaN
df3_prac1
df3_prac1.loc[df3_prac1['측정소명']== '관악구', "관악"] = 1
df3_prac1[df3_prac1['측정소명']== '관악구']

43       1.0
92       1.0
142      1.0
195      1.0
243      1.0
        ...
18042    1.0
18094    1.0
18142    1.0
18192    1.0
18248    1.0
Name: 관악, Length: 365, dtype: float64

In [19]:

pd.isna(df3_prac1)

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥),관악
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
18245,False,False,False,False,False,False,False,False,True
18246,False,False,False,False,False,False,False,False,True
18247,False,False,False,False,False,False,False,False,True
18248,False,False,False,False,False,False,False,False,False
18249,False,False,False,False,False,False,False,False,True

In [20]:
# 결측치 0으로 채움
df3_prac1.fillna(value=0)

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm),미세먼지농도(㎍/㎥),초미세먼지농도(㎍/㎥),관악
0,20220101,강남구,0.029,0.014,0.5,0.003,25.0,12.0,0.0
1,20220101,홍릉로,0.038,0.009,0.6,0.004,27.0,16.0,0.0
2,20220101,행주,0.034,0.012,0.7,0.004,27.0,16.0,0.0
3,20220101,항동,0.030,0.011,0.5,0.003,27.0,14.0,0.0
4,20220101,한강대로,0.037,0.011,0.6,0.003,34.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...
18245,20221231,구로구,0.037,0.009,0.5,0.004,43.0,29.0,0.0
18246,20221231,광진구,0.026,0.005,0.8,0.003,44.0,34.0,0.0
18247,20221231,관악산,0.008,0.038,0.3,0.005,29.0,18.0,0.0
18248,20221231,관악구,0.045,0.009,0.7,0.003,42.0,28.0,1.0
18249,20221231,공항대로,0.042,0.007,0.7,0.004,41.0,31.0,0.0